<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>@midnight</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/hudson
# Add any new conf files, jobs, users, and content.
svn add -q --parents *.xml jobs/*/config.xml users/*/config.xml userContent/*
# Ignore things in the root we don&apos;t care about.
echo -e &quot;war\nlog\n*.log\n*.tmp\n*.old\n*.bak\n*.jar\n*.json&quot; &gt; myignores
svn propset svn:ignore -F myignores . &amp;&amp; rm myignores
# Ignore things in jobs/* we don&apos;t care about.
echo -e &quot;builds\nlast*\nnext*\n*.txt\n*.log\nworkspace*\ncobertura\njavadoc\nhtmlreports\nncover\ndoclinks&quot; &gt; myignores
svn propset svn:ignore -F myignores jobs/* &amp;&amp; rm myignores
# Remove anything from SVN that no longer exists in Hudson.
svn status | grep &apos;\!&apos; | awk &apos;{print $2;}&apos; | xargs -r svn rm
# And finally, check in of course, showing status before and after for logging.
svn st 
svn ci --non-interactive -m &quot;automated commit of Hudson configuration&quot; 
svn st
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer>
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>