<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty>
      <googlecodeWebsite>http://code.google.com/p/hudson-trigger/</googlecodeWebsite>
    </hudson.plugins.googlecode.GoogleCodeProjectProperty>
  </properties>
  <scm class="hudson.plugins.googlecode.scm.GoogleCodeSCMEx">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://hudson-trigger.googlecode.com/svn/trunk</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <browser class="hudson.plugins.googlecode.GoogleCodeRepositoryBrowser"/>
    <excludedRegions></excludedRegions>
    <directory>trunk</directory>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>rof_G6T8S_bWbAGM</authToken>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>net.pizey.hudson</groupId>
    <artifactId>trigger</artifactId>
  </rootModule>
  <goals>clean install -Plive -Duser=timp -Dpassword=p5pp5r</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>tim.pizey@well.ox.ac.uk</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers>
    <hudson.plugins.ircbot.IrcPublisher>
      <targets class="java.util.Collections$EmptyList"/>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
      <channels/>
    </hudson.plugins.ircbot.IrcPublisher>
  </publishers>
  <buildWrappers/>
</maven2-moduleset>