<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Alistair Miles (gmail SCM user)</fullName>
  <description></description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>alimanfoo@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>epGWtv:d0bc68b659e6b7d957fc976810fa89acd51b1c588d2dc646c6f40a90700214fb</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
  </properties>
</user>