<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Krzysztof Kluczynski</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>/hFkX+eZ0IR6py/Dnuiw8vVhesym11+OoGqoNU45/ChJ/44+xxsUJGnLxBGgXWnk</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>JktHPa:58cf063a06e4cc11a9006df31c9ccc81768ce334482a3ef4193c5416531ff2bb</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>kristofk@well.ox.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>