h3 {
    border-bottom: 2px solid #abd;
}

input, textarea {
	border: 1px solid #abd;
}

#holdall {
	margin: 0.5em;
	background-color: transparent;
	background-image: url("http://www.wwarn.org/images/logo.gif");
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 5em;
}

#title {
	font-size: 120%;
	text-align: right;
}

#footer {
	color: white;
	background-image: url("http://www.wwarn.org/images/bg-blue-stripes.gif");
	background-position: bottom;
	padding: 0.3em 0.3em 0.3em 0.3em;
	border: none;
}

div.gwt-MenuBar-horizontal {
	background-color: transparent;
	background-image: url("http://www.wwarn.org/images/bg-blue-stripes.gif");
	background-position: bottom;
	background-repeat: repeat;
}

div.gwt-MenuBar-horizontal .gwt-MenuItem {
	color: white;
}

div.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	background-color: transparent;
	background-image: url("http://www.wwarn.org/images/bg-blue-w-stripes.gif");
	background-position: bottom;
	background-repeat: repeat;
	color: black;
}

div.gwt-MenuBar-vertical {
	background-color: white;
}

div.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background-color: #eef;
}



/*
 * -----------------------------------------------------------------------------
 * common styles across widgets
 * -----------------------------------------------------------------------------
 */

.chassis-question {
	border-top: 1px solid #abd;
	border-bottom: 1px solid #abd;
	padding: 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #eef;
	/*
	background-color: transparent;
	background-image: url("http://www.wwarn.org/images/bg-blue-w-stripes.gif");
	background-position: bottom;
	background-repeat: repeat;
	*/
}

.chassis-actions {
	top: 9em;
	border: none;
	background-color: transparent;
}

.chassis-actions h3 {
/*	padding: 0.2em;
	background-color: transparent;
	background-image: url("http://www.wwarn.org/images/bg-blue-stripes.gif");
	background-position: bottom;
	background-repeat: repeat;
	color: white;*/
}

.chassis-resultsTable td {
	border-bottom: 1px solid #abd;
}

.chassis-resultsTable-firstRow {
	background-color: #eef;	
}

.debug { 
	border: 1px solid red;
}


