body {
    font-size: 12pt;
}

h2 {
    border-top: 4px solid black;
    padding-top: .3em;
}

h3 {
    border-top: 2px solid black;
    padding-top: .3em;
}

h4 {
	padding-bottom: .3em;
}

#ft {
    border-top: 4px solid black;
    font-size: 80%;
    padding-top: .3em;
}

dt {
    font-weight: bold;
}

div.toc li {
    font-weight: bold;
}

div.toc li li {
    font-weight: normal;
}

code, pre {
	background-color: #eef;
}

pre {
	padding: 0.5em;
}