@CHARSET "UTF-8";

body {
}

input, textarea {
	border: 1px solid #aaa;
}

#holdall {
	margin: 0.5em;
}



#chassisClientPane {
}


.gwt-Anchor {
	cursor: pointer;
	text-decoration: underline;
}



.chassis-question {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #eee;
}

.chassis-question input {
	margin-left: 0.3em;
}




/*
 * begin styles for chassis client
 */

.chassis-client {
/*	border: 2px solid black; */
}


/*
 * begin styles for user details widget
 */
 
.chassis-userDetailsWidget {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	left: auto;
	bottom: auto;
/*	border: 2px solid red;*/
	text-align: right;
}

.chassis-userDetailsWidget-userDetails {
/*	border: 2px solid green;*/
}

.chassis-userDetailsWidget-userName {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-currentRole {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-roleSwitcher {
	margin-left: .2em;
}

.chassis-userDetailsWidget-switchRolePanel {
	display: inline;
}



.chassis-administratorHome-resourceCollections {
	border-top: 2px solid black;

}



.chassis-createStudy-titleInput {
	width: 30em;
}

.chassis-createStudy-actions {
	margin-top: 1em;
}

.chassis-createStudy textarea {
	width: 60em;
	height: 15em;
}



#developerPane {
	margin-top: 2em;
	border-top: 2px solid black;
}

#developerToolsPane {
	margin-top: 0.5em;
}




.log-panel {
	width: 96%;
}

.log-scroll-panel {
	border: 1px solid #ccc;
	width: 100%;
}


