@CHARSET "UTF-8";

body {
}

#holdall {
	margin: 0.5em;
}



#chassisClientPane {
	border-top: 2px solid black;
}


.gwt-Anchor {
	cursor: pointer;
	text-decoration: underline;
}

/*
 * begin styles for chassis client
 */

.chassis-client {
	border: 2px solid black;
}


/*
 * begin styles for user details widget
 */
 
.chassis-userDetailsWidget {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	left: auto;
	bottom: auto;
/*	border: 2px solid red;*/
	text-align: right;
}

.chassis-userDetailsWidget-userDetails {
/*	border: 2px solid green;*/
}

.chassis-userDetailsWidget-userName {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-currentRole {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-roleSwitcher {
	margin-left: .2em;
}

.chassis-userDetailsWidget-switchRolePanel {
	display: inline;
}



#developerPane {
	margin-top: 2em;
	border-top: 2px solid black;
}




.log-panel {
	width: 96%;
}

.log-scroll-panel {
	border: 1px solid #ccc;
	width: 100%;
}


