#holdall {
	
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: sans-serif;
}

h1, h2, h3 {
	border-top: 1px solid #3366CC;
	background-color: #E5ECF9;
	padding: .1em .1em .3em .1em;
}

h1 {
	margin-top: 0;
	font-size: 130%;
}

h2 {
	font-size: 115%;
	font-weight: normal;
}

h3 {
	font-size: 100%;
	font-weight: normal;
}

h4 {
	font-size: 100%;
	font-weight: bold;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

textarea {
	width: 60em;
	height: 10em;
}

#holdall {
}

#user {
	text-align: right;
	border-bottom: 1px solid #C9D7F1;
	padding: .5em .5em .1em .5em;
}

#user p {
	margin: 0 0 .2em 0;
	padding: 0;
}

#banner {
	background-image: url(../assets/wwarn-banner.jpg);
	background-repeat: no-repeat;
	height: 70px;
	margin: 1em .5em 1em .5em;
}

#apploading {
	margin: .5em;
}

#content {
	margin: .5em;
}	

#footer {
	margin: .5em;
}

a.mainNavigation {
	font-size: 140%;
}

.currentStep {
	text-decoration: underline;
	font-weight: bold;
}

.resultsTable {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-top: 1px solid #BBBBBB;
}

.resultsTable td {
	border-bottom: 1px solid #BBBBBB;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.resultsTable .firstCell {
	font-weight: bold;
}

.resultsTable .firstRow {
	font-size: 80%;
	text-align: left;
	font-weight: bold;
	background-color: #E5ECF9;	
	color: #0000CC;
}

.resultsTable .even {
}

.resultsTable .odd {
}

.resultsTable .widget {
	padding: .3em;
}

.chassis-viewStudyWidget {
    display: inline;
}

.chassis-viewStudyWidget div {
    display: inline;
}

.action {
	font-size: 110%;
	margin: 0 .2em 0 0;	
}
