.fileListHeading {
	margin-top: 0px;
}

.verticalTableHeading {
	background-color:#E5ECF9;
	color:#0000CC;
	font-size:80%;
	font-weight:bold;
	text-align:left;
	border-right: 1px solid #BBBBBB;
	white-space: nowrap;
}

.column {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #3366CC;
	margin-bottom: 20px;
}
.lastColumn {
	margin-right: 0px;
	padding-right: 0px;
	border-right: 0px;
	margin-bottom: 0px;	
}
.endRow {
	clear: both;
}

.actionsTableCell {
	text-align: center;
}