<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Lee Hart</fullName>
  <description></description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>HOGUoK:f39a620f2dd8216b21e713caa42c9c09c7a8f0d5d955e987cf35bac85c5fa430</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>l33h4r7@googlemail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.ircbot.IrcUserProperty>
      <nick>lee</nick>
    </hudson.plugins.ircbot.IrcUserProperty>
  </properties>
</user>
