<?xml version="1.0" encoding="UTF-8"?>

<!--
    - Sample namespace-based configuration
    -
-->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
            <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>
    
    <beans:bean id="myLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <beans:constructor-arg value="/home/" />
        <beans:constructor-arg>
            <beans:list>
                <beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
                <beans:ref bean="myLogoutHandler"/>
                
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>
    
    <!-- don't apply security to eXist XML-RPC endpoint, rely on eXist authentication -->
    <http pattern="/xmlrpc" security="none"/>
    <http use-expressions="true">
        <!-- restrict access to libraries and administrative scripts -->
        <intercept-url pattern="/service/admin/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        <intercept-url pattern="/service/config/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        <intercept-url pattern="/service/lib/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        <intercept-url pattern="/service/plugins/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <!-- force authentication for all requests to service, but delegate
            access control decisions to service -->
        <intercept-url pattern="/service/**" access="hasRole('ROLE_CHASSIS_USER')" />
        
        <intercept-url pattern="/contributor/**" access="hasAnyRole('ROLE_CHASSIS_CONTRIBUTOR','ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <intercept-url pattern="/personal-data/**" access="hasAnyRole('ROLE_CHASSIS_PERSONAL_DATA_REVIEWER','ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <intercept-url pattern="/curator/**" access="hasAnyRole('ROLE_CHASSIS_CURATOR','ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <intercept-url pattern="/reports/**" access="hasAnyRole('ROLE_CHASSIS_CURATOR','ROLE_CHASSIS_ADMINISTRATOR')" />
        <intercept-url pattern="/study/**" access="hasAnyRole('ROLE_CHASSIS_CONTRIBUTOR','ROLE_CHASSIS_CURATOR','ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <intercept-url pattern="/rest/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" />
        
        <!-- don't do this, it protects all css and other resources -->
        <!--    <intercept-url pattern="/**" access="hasRole('ROLE_CHASSIS_ADMINISTRATOR')" /> -->
        
        <form-login  />
        <http-basic />
      <!--  <logout logout-success-url="/home/" invalidate-session="true" /> -->
        <remember-me />
        <!--
            Uncomment to enable X509 client authentication support
            <x509 />
        -->
        <!-- Uncomment to limit the number of sessions a user can have -->
        
        <custom-filter position="LOGOUT_FILTER" ref="myLogoutFilter" />
        <session-management invalid-session-url="/home/" session-fixation-protection="none">
            <!--<concurrency-control max-sessions="-1" error-if-maximum-exceeded="true" />-->
        </session-management>
        
    </http>
    
    <beans:bean id="myLogoutHandler" class="org.cggh.chassis.manta.security.LogoutHandler">
      
    </beans:bean>
    
    <beans:bean id="sessionRegistry"
        class="org.springframework.security.core.session.SessionRegistryImpl" />
        
    <authentication-manager>
        <authentication-provider>
      
            
            <user-service>
                <user name="ursula@example.org" password="bar" authorities="ROLE_CHASSIS_USER" />
                
                <user name="adam@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_ADMINISTRATOR, ROLE_CHASSIS_CURATOR, ROLE_CHASSIS_CONTRIBUTOR" />
                
                <user name="colin@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CONTRIBUTOR" />
                <user name="cora@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CONTRIBUTOR" />
                
                <!-- suki and sunil are hangovers from when we used the "submitter" role - we'll keep for now -->
                <user name="suki@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CONTRIBUTOR" />
                <user name="sunil@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CONTRIBUTOR" />
                
                <user name="curtis@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CURATOR" />
                
                <user name="pete@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_PERSONAL_DATA_REVIEWER" />
                
                <!-- muriel has multiple roles, a bit like PP -->
                <user name="muriel@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_CONTRIBUTOR, ROLE_CHASSIS_CURATOR, ROLE_CHASSIS_PERSONAL_DATA_REVIEWER" />
                
                <user name="murray@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_ADMINISTRATOR, ROLE_CHASSIS_CONTRIBUTOR" />
                
                <user name="murphy@example.org" password="bar" authorities="ROLE_CHASSIS_USER, ROLE_CHASSIS_ADMINISTRATOR, ROLE_CHASSIS_CURATOR" />
                
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>
