<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.386</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:IanW</permission>
    <permission>hudson.model.Computer.Configure:timp</permission>
    <permission>hudson.model.Computer.Delete:IanW</permission>
    <permission>hudson.model.Computer.Delete:timp</permission>
    <permission>hudson.model.Hudson.Administer:IanW</permission>
    <permission>hudson.model.Hudson.Administer:timp</permission>
    <permission>hudson.model.Hudson.Read:IanW</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:timp</permission>
    <permission>hudson.model.Item.Build:IanW</permission>
    <permission>hudson.model.Item.Build:timp</permission>
    <permission>hudson.model.Item.Configure:IanW</permission>
    <permission>hudson.model.Item.Configure:timp</permission>
    <permission>hudson.model.Item.Create:IanW</permission>
    <permission>hudson.model.Item.Create:timp</permission>
    <permission>hudson.model.Item.Delete:IanW</permission>
    <permission>hudson.model.Item.Delete:timp</permission>
    <permission>hudson.model.Item.Read:IanW</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:timp</permission>
    <permission>hudson.model.Item.Workspace:IanW</permission>
    <permission>hudson.model.Item.Workspace:timp</permission>
    <permission>hudson.model.Run.Delete:IanW</permission>
    <permission>hudson.model.Run.Delete:timp</permission>
    <permission>hudson.model.Run.Update:IanW</permission>
    <permission>hudson.model.Run.Update:timp</permission>
    <permission>hudson.model.View.Configure:IanW</permission>
    <permission>hudson.model.View.Configure:timp</permission>
    <permission>hudson.model.View.Create:IanW</permission>
    <permission>hudson.model.View.Create:timp</permission>
    <permission>hudson.model.View.Delete:IanW</permission>
    <permission>hudson.model.View.Delete:timp</permission>
    <permission>hudson.scm.SCM.Tag:IanW</permission>
    <permission>hudson.scm.SCM.Tag:timp</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>&lt;h2&gt;Hudson Server for &lt;a href=&quot;http://code.google.com/p/dsn-chassis/&quot;&gt;DSN Chassis&lt;/a&gt;&lt;/h2&gt;&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;&#xd;
&lt;a href=&quot;http://cloud1.cggh.org/manta&quot;&gt;Manta&lt;/a&gt;&#xd;
&lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
</systemMessage>
  <jdks>
    <jdk>
      <name></name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u16-oth-JPR@CDS-CDS_Developer</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Manta</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>atombeat-orbeon-minimal</string>
        <string>atombeat-service</string>
        <string>atombeat-xquery-functions</string>
        <string>backupHudsonConfig</string>
        <string>checkStudyFeed</string>
        <string>hudson-trigger</string>
        <string>manta-config</string>
        <string>manta-maven</string>
        <string>manta-trunk</string>
        <string>manta-xquery-functions</string>
        <string>wwarn-cas-Spring-3</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>AtomBeat</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>atombeat-exist-full</string>
        <string>atombeat-exist-full-secure</string>
        <string>atombeat-exist-minimal</string>
        <string>atombeat-exist-minimal-secure</string>
        <string>atombeat-integration-tests</string>
        <string>atombeat-orbeon-full</string>
        <string>atombeat-orbeon-full-secure</string>
        <string>atombeat-orbeon-minimal</string>
        <string>atombeat-orbeon-minimal-secure</string>
        <string>atombeat-parent</string>
        <string>atombeat-service</string>
        <string>atombeat-servlet-filters</string>
        <string>atombeat-xquery-functions</string>
        <string>hudson-trigger</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>Current</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView/jobNames/comparator"/>
          </default>
          <int>2</int>
          <string></string>
          <string></string>
          <string>MAVEN_OPTS</string>
          <string>-Xmx512m  -XX:MaxPermSize=256M</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <disabledAdministrativeMonitors/>
</hudson>