<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.376</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:ianw</permission>
    <permission>hudson.model.Computer.Configure:timp</permission>
    <permission>hudson.model.Computer.Delete:ianw</permission>
    <permission>hudson.model.Computer.Delete:timp</permission>
    <permission>hudson.model.Hudson.Administer:ianw</permission>
    <permission>hudson.model.Hudson.Administer:timp</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:ianw</permission>
    <permission>hudson.model.Hudson.Read:timp</permission>
    <permission>hudson.model.Item.Build:ianw</permission>
    <permission>hudson.model.Item.Build:timp</permission>
    <permission>hudson.model.Item.Configure:ianw</permission>
    <permission>hudson.model.Item.Configure:timp</permission>
    <permission>hudson.model.Item.Create:ianw</permission>
    <permission>hudson.model.Item.Create:timp</permission>
    <permission>hudson.model.Item.Delete:ianw</permission>
    <permission>hudson.model.Item.Delete:timp</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:ianw</permission>
    <permission>hudson.model.Item.Read:timp</permission>
    <permission>hudson.model.Item.Workspace:ianw</permission>
    <permission>hudson.model.Item.Workspace:timp</permission>
    <permission>hudson.model.Run.Delete:ianw</permission>
    <permission>hudson.model.Run.Delete:timp</permission>
    <permission>hudson.model.Run.Update:ianw</permission>
    <permission>hudson.model.Run.Update:timp</permission>
    <permission>hudson.model.View.Configure:ianw</permission>
    <permission>hudson.model.View.Configure:timp</permission>
    <permission>hudson.model.View.Create:ianw</permission>
    <permission>hudson.model.View.Create:timp</permission>
    <permission>hudson.model.View.Delete:ianw</permission>
    <permission>hudson.model.View.Delete:timp</permission>
    <permission>hudson.scm.SCM.Tag:ianw</permission>
    <permission>hudson.scm.SCM.Tag:timp</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
  </securityRealm>
  <systemMessage>&lt;h2&gt;Hudson Server for &lt;a href=&quot;http://code.google.com/p/dsn-chassis/&quot;&gt;DSN Chassis&lt;/a&gt;&lt;/h2&gt;&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;&#xd;
&lt;a href=&quot;http://cloud1.cggh.org/manta&quot;&gt;Manta&lt;/a&gt;&#xd;
&lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
</systemMessage>
  <jdks>
    <jdk>
      <name></name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u16-oth-JPR@CDS-CDS_Developer</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>MAVEN_OPTS</string>
          <string>-Xmx512m </string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <disabledAdministrativeMonitors/>
</hudson>