<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.430</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:IanW</permission>
    <permission>hudson.model.Computer.Configure:aliman</permission>
    <permission>hudson.model.Computer.Configure:leeh</permission>
    <permission>hudson.model.Computer.Configure:rwh</permission>
    <permission>hudson.model.Computer.Configure:timp</permission>
    <permission>hudson.model.Computer.Delete:IanW</permission>
    <permission>hudson.model.Computer.Delete:aliman</permission>
    <permission>hudson.model.Computer.Delete:leeh</permission>
    <permission>hudson.model.Computer.Delete:rwh</permission>
    <permission>hudson.model.Computer.Delete:timp</permission>
    <permission>hudson.model.Hudson.Administer:IanW</permission>
    <permission>hudson.model.Hudson.Administer:aliman</permission>
    <permission>hudson.model.Hudson.Administer:leeh</permission>
    <permission>hudson.model.Hudson.Administer:rwh</permission>
    <permission>hudson.model.Hudson.Administer:timp</permission>
    <permission>hudson.model.Hudson.Read:IanW</permission>
    <permission>hudson.model.Hudson.Read:aliman</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:leeh</permission>
    <permission>hudson.model.Hudson.Read:rwh</permission>
    <permission>hudson.model.Hudson.Read:timp</permission>
    <permission>hudson.model.Item.Build:IanW</permission>
    <permission>hudson.model.Item.Build:aliman</permission>
    <permission>hudson.model.Item.Build:leeh</permission>
    <permission>hudson.model.Item.Build:rwh</permission>
    <permission>hudson.model.Item.Build:timp</permission>
    <permission>hudson.model.Item.Configure:IanW</permission>
    <permission>hudson.model.Item.Configure:aliman</permission>
    <permission>hudson.model.Item.Configure:leeh</permission>
    <permission>hudson.model.Item.Configure:rwh</permission>
    <permission>hudson.model.Item.Configure:timp</permission>
    <permission>hudson.model.Item.Create:IanW</permission>
    <permission>hudson.model.Item.Create:aliman</permission>
    <permission>hudson.model.Item.Create:leeh</permission>
    <permission>hudson.model.Item.Create:rwh</permission>
    <permission>hudson.model.Item.Create:timp</permission>
    <permission>hudson.model.Item.Delete:IanW</permission>
    <permission>hudson.model.Item.Delete:aliman</permission>
    <permission>hudson.model.Item.Delete:leeh</permission>
    <permission>hudson.model.Item.Delete:rwh</permission>
    <permission>hudson.model.Item.Delete:timp</permission>
    <permission>hudson.model.Item.Read:IanW</permission>
    <permission>hudson.model.Item.Read:aliman</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:leeh</permission>
    <permission>hudson.model.Item.Read:rwh</permission>
    <permission>hudson.model.Item.Read:timp</permission>
    <permission>hudson.model.Item.Workspace:IanW</permission>
    <permission>hudson.model.Item.Workspace:aliman</permission>
    <permission>hudson.model.Item.Workspace:leeh</permission>
    <permission>hudson.model.Item.Workspace:rwh</permission>
    <permission>hudson.model.Item.Workspace:timp</permission>
    <permission>hudson.model.Run.Delete:IanW</permission>
    <permission>hudson.model.Run.Delete:aliman</permission>
    <permission>hudson.model.Run.Delete:leeh</permission>
    <permission>hudson.model.Run.Delete:rwh</permission>
    <permission>hudson.model.Run.Delete:timp</permission>
    <permission>hudson.model.Run.Update:IanW</permission>
    <permission>hudson.model.Run.Update:aliman</permission>
    <permission>hudson.model.Run.Update:leeh</permission>
    <permission>hudson.model.Run.Update:rwh</permission>
    <permission>hudson.model.Run.Update:timp</permission>
    <permission>hudson.model.View.Configure:IanW</permission>
    <permission>hudson.model.View.Configure:aliman</permission>
    <permission>hudson.model.View.Configure:leeh</permission>
    <permission>hudson.model.View.Configure:rwh</permission>
    <permission>hudson.model.View.Configure:timp</permission>
    <permission>hudson.model.View.Create:IanW</permission>
    <permission>hudson.model.View.Create:aliman</permission>
    <permission>hudson.model.View.Create:leeh</permission>
    <permission>hudson.model.View.Create:rwh</permission>
    <permission>hudson.model.View.Create:timp</permission>
    <permission>hudson.model.View.Delete:IanW</permission>
    <permission>hudson.model.View.Delete:aliman</permission>
    <permission>hudson.model.View.Delete:leeh</permission>
    <permission>hudson.model.View.Delete:rwh</permission>
    <permission>hudson.model.View.Delete:timp</permission>
    <permission>hudson.scm.SCM.Tag:IanW</permission>
    <permission>hudson.scm.SCM.Tag:aliman</permission>
    <permission>hudson.scm.SCM.Tag:leeh</permission>
    <permission>hudson.scm.SCM.Tag:rwh</permission>
    <permission>hudson.scm.SCM.Tag:timp</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;h2&gt;CI Server for CGGH&lt;/h2&gt;&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://code.google.com/p/dsn-chassis/&quot;&gt;DSN Chassis&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://code.google.com/p/atombeat/&quot;&gt;Atombeat&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://cloud1.cggh.org/manta&quot;&gt;Manta&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>Sun java 6 (ubuntu packaged)</name>
      <home>/usr/lib/jvm/java-6-sun/</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Manta</name>
      <description>&lt;h2&gt;CI Server for CGGH&lt;/h2&gt;&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://code.google.com/p/dsn-chassis/&quot;&gt;DSN Chassis&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://code.google.com/p/atombeat/&quot;&gt;Atombeat&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
  &lt;li&gt;&#xd;
&lt;a href=&quot;http://cloud1.cggh.org/repository&quot;&gt;Manta&lt;/a&gt;&#xd;
  &lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>atombeat-orbeon-minimal</string>
        <string>atombeat-service</string>
        <string>atombeat-xquery-functions</string>
        <string>backupHudsonConfig</string>
        <string>chassis-model</string>
        <string>chassis-rest</string>
        <string>checkStudyFeedBasic</string>
        <string>hudson-trigger</string>
        <string>manta-config</string>
        <string>manta-maven</string>
        <string>manta-xquery-functions</string>
        <string>quac</string>
        <string>show maven version</string>
        <string>wwarn-cas-Spring-3</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>AtomBeat</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>atombeat-exist-full</string>
        <string>atombeat-exist-full-secure</string>
        <string>atombeat-exist-minimal</string>
        <string>atombeat-exist-minimal-secure</string>
        <string>atombeat-integration-tests</string>
        <string>atombeat-orbeon-full</string>
        <string>atombeat-orbeon-full-secure</string>
        <string>atombeat-orbeon-minimal</string>
        <string>atombeat-orbeon-minimal-secure</string>
        <string>atombeat-parent</string>
        <string>atombeat-service</string>
        <string>atombeat-servlet-filters</string>
        <string>atombeat-xquery-functions</string>
        <string>hudson-trigger</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>dataMerger</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Package dataMerger</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>Manta</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>MAVEN_OPTS</string>
          <string>-Xmx512m  -XX:MaxPermSize=256M</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>