@CHARSET "UTF-8";

body {
}

input, textarea {
	border: 1px solid #aaa;
}

#holdall {
	margin: 0.5em;
}



#chassisClientPane {
}


.gwt-Anchor {
	cursor: pointer;
	text-decoration: underline;
}



.invisible {
	display: none;
}


/*
 * -----------------------------------------------------------------------------
 * common styles across widgets
 * -----------------------------------------------------------------------------
 */

.chassis-question {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #eee;
}

.chassis-question input {
	margin-left: 0.3em;
}

.chassis-answer {
	font-weight: bold;
}

.chassis-actions {
	position: absolute;
	top: 8em;
	right: 0.5em;
	left: auto;
	bottom: auto;
	border: 1px solid #aaa;
	width: 20em;
	padding: 0.3em;
	background-color: #eee;
}

.chassis-action {
	display: block;
	text-decoration: underline;
	cursor: pointer;
}

.chassis-mainWithActions {
	margin-right: 22em;
}

.chassis-actions h3 {
	margin-top: 0.2em;
}



/*
 * begin styles for chassis client
 */

.chassis-client {
/*	border: 2px solid black; */
}





/*
 * -----------------------------------------------------------------------------
 * styles for user details widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-userDetailsWidget {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	left: auto;
	bottom: auto;
/*	border: 2px solid red;*/
	text-align: right;
}

.chassis-userDetailsWidget-userDetails {
/*	border: 2px solid green;*/
}

.chassis-userDetailsWidget-userName {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-currentRole {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-roleSwitcher {
	margin-left: .2em;
}

.chassis-userDetailsWidget-switchRolePanel {
	display: inline;
}




/*
 * -----------------------------------------------------------------------------
 * styles for administrator home widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-administratorHome-resourceCollections {
	border-top: 2px solid black;

}



/*
 * -----------------------------------------------------------------------------
 * styles for create study widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-createStudy-titleInput {
	width: 30em;
}

.chassis-createStudy-actions {
	margin-top: 1em;
}

.chassis-createStudy textarea {
	width: 60em;
	height: 15em;
}

.chassis-createStudy-modules input {
	border: none;
}



/*
 * -----------------------------------------------------------------------------
 * styles for edit study widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-editStudy-titleInput {
	width: 30em;
}

.chassis-editStudy-actions {
	margin-top: 1em;
}

.chassis-editStudy textarea {
	width: 60em;
	height: 15em;
}

.chassis-editStudy-modules input {
	border: none;
}




/*
 * -----------------------------------------------------------------------------
 * styles for view study widget
 * -----------------------------------------------------------------------------
 */
 
 .chassis-viewStudy-modules {
 	display: inline;
 	margin-left: 0.3em;
 }

 .chassis-viewStudy-owners {
 	display: inline;
 	margin-left: 0.3em;
 }

 .chassis-viewStudy-summary {
	font-weight: normal;
	font-style: italic;
	display: block;
	margin: .2em 0 .2em 0;
 }





/*
 * -----------------------------------------------------------------------------
 * styles for view studies widget
 * -----------------------------------------------------------------------------
 */

.chassis-viewStudies-studiesTable {
}

.chassis-viewStudies-studiesTable td {
	border-bottom: 1px solid #aaa;
	padding: 0.3em;
	vertical-align: top;
}

.chassis-viewStudies-tableHeader {
	font-weight: bold;
}

.chassis-viewStudies-studyTitle {
	font-weight: bold;
}




/*
 * -----------------------------------------------------------------------------
 * styles for create submission widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-createSubmission-actions {
	margin-top: 1em;
}





/*
 * -----------------------------------------------------------------------------
 * styles for submission form
 * -----------------------------------------------------------------------------
 */

.chassis-submissionForm-titleQuestion input {
	width: 30em;
}

.chassis-submissionForm-summaryQuestion textarea {
	width: 60em;
	height: 15em;
}

.chassis-submissionForm-modulesQuestion input {
	border: none;
}

.chassis-submissionForm-studiesQuestion {
}

.chassis-submissionForm-selectStudy {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
} 

.chassis-submissionForm-selectStudy div {
	display: inline;
	padding-right: 0.3em;
} 



/*
 * -----------------------------------------------------------------------------
 * styles for view submission widget
 * -----------------------------------------------------------------------------
 */
 
 .chassis-viewSubmission-modules {
 	display: inline;
 	margin-left: 0.3em;
 }

 .chassis-viewSubmission-owners {
 	display: inline;
 	margin-left: 0.3em;
 }

 .chassis-viewSubmission-summary {
	font-weight: normal;
	font-style: italic;
	display: block;
	margin: .2em 0 .2em 0;
 }




/*
 * -----------------------------------------------------------------------------
 * styles for view submissions widget
 * -----------------------------------------------------------------------------
 */

.chassis-viewSubmissions-submissionsTable {
}

.chassis-viewSubmissions-submissionsTable td {
	border-bottom: 1px solid #aaa;
	padding: 0.3em;
	vertical-align: top;
}

.chassis-viewSubmissions-tableHeader {
	font-weight: bold;
}

.chassis-viewSubmissions-submissionTitle {
	font-weight: bold;
}

/*
 * -----------------------------------------------------------------------------
 * styles for upload submission data file widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-uploadSubmissionDataFile-fileInput {
    width: 30em;
}

.chassis-uploadSubmissionDataFile-commentInput {
    width: 60em;
    height: 15em;
}

.chassis-uploadSubmissionDataFile-actions {
    margin-top: 1em;
}

/*
 * -----------------------------------------------------------------------------
 * styles for view submission data files widget
 * -----------------------------------------------------------------------------
 */

.chassis-viewSubmissionDataFiles-dataFilesTable {
}

.chassis-viewSubmissionDataFiles-dataFilesTable td {
    border-bottom: 1px solid #aaa;
    padding: 0.3em;
    vertical-align: top;
}

.chassis-viewSubmissionDataFiles-tableHeader {
    font-weight: bold;
}

.chassis-viewSubmissionDataFiles-fileTitle,
.chassis-viewSubmissionDataFiles-fileSummary {
    font-weight: bold;
}

.chassis-viewSubmissionDataFiles-downloadLink {
}


/*
 * -----------------------------------------------------------------------------
 * styles for developer pane
 * -----------------------------------------------------------------------------
 */
 


#developerPane {
	margin-top: 2em;
	border-top: 2px solid black;
}

#developerToolsPane {
	margin-top: 0.5em;
}

.log-panel {
	width: 96%;
}

.log-scroll-panel {
	border: 1px solid #ccc;
	width: 100%;
}


