@CHARSET "UTF-8";

body {
}

#holdall {
	font-size: 12pt;
	margin: 1em;
}

.chassis-userDetailsWidget {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	left: auto;
	bottom: auto;
	padding: .2em;
}

.chassis-userDetailsWidget-userName {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-currentRole {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget-roleSwitcher {
	margin-left: .2em;
}



#developerPane {
	margin-top: 2em;
	border-top: 2px solid black;
	font-size: 80%;
}




.log-panel {
	width: 96%;
}

.log-scroll-panel {
	border: 2px solid black;
	width: 100%;
}


