@CHARSET "UTF-8";

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	margin-bottom: 5px;
}

#holdall {
	margin: 10px;
}

.xquestion {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 3px;
	margin: 3px 0 3px 0;
	width: 100%;
	background-color: #eee;
}

.xquestionnaire {
	border: 2px solid #ccc;
	border-left: 10px solid #ccc;
	border-right: none;
	padding: 5px 0px 5px 10px;
	margin: 5px 0px 5px 0px;
}

.xquestionnaire .xquestionnaire {
	width: 100%;
}

.xinput-string {
	padding: 0px;
}

.xinput-string input, .xinput-date input {
	border: 1px solid #aaa;
	margin-left: 5px;
}

.xselect1-minimal select {
	margin-left: 5px;
}

.givenName {
	background-color: #fcc;
}

.familyName {
	background-color: #ccf;
	padding: 2px;
}

.describe textarea {
	width: 500px;
	border: 2px solid blue;
}

.address {
	background-color: #cfc;
}

.personQuestionnaire {
	width: 80%;
}

.answer {
	font-weight: bold;
	margin-left: 5px;
}

.loading {
	margin-left: 5px;
}

.xquestionnaire .repeatableButtonPanel {
	width: 100%;
	text-align: left;
}

.xquestion .repeatableButtonPanel {
	width: 100%;
	text-align: right;
}