.log-panel {
	Z-INDEX: 1000; BORDER-BOTTOM: red 1px solid; FILTER: alpha(opacity\=95); BORDER-LEFT: red 1px solid; BACKGROUND-COLOR: #ecf2fc; MARGIN: 0px; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid; opacity: 0.95
}
.log-panel .Gkjd45cI {
	TEXT-ALIGN: left; MARGIN: 0px; FONT-SIZE: 10pt
}
.log-panel BUTTON {
	MARGIN: 0px; FONT-SIZE: 10pt
}
.log-panel .Gkjd45cJ {
	CURSOR: move; FONT-WEIGHT: bold
}
.log-panel .Gkjd45cB {
	MARGIN: 0px 1.2em
}
.log-panel BUTTON.Gkjd45cA {
	COLOR: #444 !important
}
.log-panel .Gkjd45cH {
	WHITE-SPACE: nowrap
}
.log-panel .Gkjd45cC {
	FONT-FAMILY: monospace; CURSOR: help
}
.log-panel .Gkjd45cD {
	BACKGROUND-COLOR: #f0f0f0
}
.log-panel .Gkjd45cG {
	BACKGROUND-COLOR: #fff
}
.log-panel .Gkjd45cF {
	CURSOR: se-resize
}

.Gkjd45cIB {
	COLOR: #f00; FONT-WEIGHT: normal
}
.Gkjd45cHB {
	FONT-WEIGHT: normal
}
.Gkjd45cFB {
	PADDING-RIGHT: 8px; FLOAT: left
}
.Gkjd45cGB {
	CLEAR: both
}
UL LI {
	PADDING-BOTTOM: 5px
}
UL OL {
	PADDING-TOP: 5px
}
.Gkjd45cDB {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
.Gkjd45cEB {
	COLOR: #f00; FONT-WEIGHT: bold
}
.Gkjd45cO {
	COLOR: #f00; FONT-WEIGHT: normal
}
.Gkjd45cM {
	FONT-WEIGHT: normal
}
.Gkjd45cK {
	FONT-WEIGHT: bold
}
.Gkjd45cL {
	FONT-STYLE: italic
}
.Gkjd45cP {
	WIDTH: 784px
}
.Gkjd45cN {
	WIDTH: 784px
}
UL LI {
	PADDING-BOTTOM: 5px
}
UL OL {
	PADDING-TOP: 5px
}
.Gkjd45cAB {
	COLOR: red
}
.Gkjd45cCB {
	FONT-WEIGHT: bold
}
.Gkjd45cBB {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
