<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tim Pizey (Jenkins - admin)</fullName>
  <description>Admin</description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>timp@well.ox.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>nKrusn:8767b3d4e51081bf0bf33c95932a63d46a5dca3b460e23ee6bb0971bd114e3b7</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
  </properties>
</user>