<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Tim Pizey (gmail SCM user)</fullName>
  <description>Committer (person) account</description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>tim.pizey@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ZPlbgv:76fb9045fffc25dd225666bb2181bb4903a7e69e639a6e9ba6f29ef33e771ed8</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
  </properties>
</user>