<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>IanW</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.ircbot.IrcUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>Wpmvxx:941773e017e769ce2a32f70cae5777493d09139d59c992b2fc087f2e4d3d6e54</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ian.wright@well.ox.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>