<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Robert Hutton</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>oOZFmB:5623719980d2936afa35ddadcbae658573b957b90538b1b5b603fac757806729</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>robert.hutton@well.ox.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>