<?xml version="1.0" encoding="UTF-8"?>

<!--+
    | Configuration file for the web application. 
    |
    | Provides XMLRPC + SOAP access to eXist and configures Cocoon2. If you don't need
    | XMLRPC or SOAP or Cocoon, remove the corresponding servlets and servlet-mappings.
    |
    | $Id: web.xml 10041 2009-09-15 21:12:44Z wolfgang_m $
    +-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    
    <description>eXist Open Source Native XML Database</description>
    <display-name>eXist XML Database</display-name>



    <!-- 
        Initialize Log4j using a servlet.
        Only needed when eXist is deployed as a .war file in e.g. Tomcat.
    -->
    <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>org.exist.http.servlets.Log4jInit</servlet-class>

        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/log4j.xml</param-value>
        </init-param>
        
        <init-param>
            <param-name>log4j-log-dir</param-name>
            <param-value>WEB-INF/logs</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>



    <!-- 
        DatabaseAdminServlet: this servlet can be used to ensure that
        eXist is running in the background. Just set the start-parameter 
        to true and load-on-startup to 1 
    -->
    <servlet>
        <servlet-name>EXistServlet</servlet-name>
        <servlet-class>org.exist.http.servlets.EXistServlet</servlet-class>
    
        <!--
            where to find eXist's configuration file relative to the basedir 
            of the web-application.
        -->
        <init-param>
            <param-name>configuration</param-name>
            <param-value>conf.xml</param-value>
        </init-param>

        <!-- 
            eXist's home directory. All file names in the configuration file 
            will be relative to this directory.
        -->
        <init-param>
            <param-name>basedir</param-name>
            <param-value>WEB-INF/</param-value>
        </init-param>

        <init-param>
            <param-name>start</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>



    <!-- 
        XQueryServlet generates HTML from an XQuery file. 
    -->
    <servlet>
        <servlet-name>XQueryServlet</servlet-name>
        <servlet-class>org.exist.http.servlets.XQueryServlet</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>xmldb:exist:///db</param-value>
        </init-param>

        <init-param>
            <param-name>form-encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

        <init-param>
            <param-name>container-encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
	


    <!-- Atom Atom Publishing Protocol -->
    <servlet>
        <servlet-name>AtomServlet</servlet-name>
        <servlet-class>org.exist.atom.http.AtomServlet</servlet-class>
    </servlet>

    <!-- Custom Atom Publishing Protocol -->
    <servlet>
        <servlet-name>CustomAtomServlet</servlet-name>
        <servlet-class>org.cggh.chassis.generic.atom.http.AtomServlet</servlet-class>
    </servlet>


    <!-- HTTP Method Override Filter for AtomPub -->  
    
    <filter>
      <filter-name>HttpMethodOverrideFilter</filter-name>
      <filter-class>org.cggh.chassis.generic.http.HttpMethodOverrideFilter</filter-class>
      <init-param>
        <param-name>allowedOverrides</param-name>
        <param-value>PUT DELETE</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>HttpMethodOverrideFilter</filter-name>
      <servlet-name>AtomServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
      <filter-name>HttpMethodOverrideFilter</filter-name>
      <servlet-name>CustomAtomServlet</servlet-name>
    </filter-mapping>



    <!-- ====================== URL space mappings ======================= -->


    <!-- XQuery (not for database stored queries) -->
    <servlet-mapping>
        <servlet-name>XQueryServlet</servlet-name>
        <url-pattern>*.xql</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XQueryServlet</servlet-name>
        <url-pattern>*.xqy</url-pattern>
    </servlet-mapping>


    <!-- Atom Publishing Protocol -->
    <servlet-mapping>
        <servlet-name>AtomServlet</servlet-name>
        <url-pattern>/exist-atom/*</url-pattern>
    </servlet-mapping>

    <!-- Atom Publishing Protocol (Custom Implementation) -->
    <servlet-mapping>
        <servlet-name>CustomAtomServlet</servlet-name>
        <url-pattern>/atom/*</url-pattern>
    </servlet-mapping>
    
    
    <!-- ==================== various MIME type mappings ================== -->

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xsl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xconf</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xmap</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ent</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>grm</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

    
</web-app>
