<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Lee Hart (Jenkins)</fullName>
  <description>Jenkins User account</description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>lee.hart@well.ox.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>vBQlFL:aaa420d550db10752a9ae29904a047b2076568b2b1655a3780935aad710b9192</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
  </properties>
</user>