<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>googlecode_dsn-chassis_generic_service_upload</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      WEB-INF/security.xml
    </param-value>
  </context-param>
    
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
    
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description>new data file servlet</description>
    <display-name>NewDataFileServlet</display-name>
    <servlet-name>NewDataFileServlet</servlet-name>
    <servlet-class>org.cggh.chassis.generic.service.data.NewDataFileServlet</servlet-class>
    <init-param>
      <description>the URL of the Atom collection where the uploaded file content (i.e., media) will be POSTed</description>
      <param-name>mediaCollectionUrl</param-name>
      <param-value>http://localhost:8080/chassis-generic-service-exist/atom/edit/media</param-value>
    </init-param>
    <init-param>
      <description>the URL of the data files collection </description>
      <param-name>dataFilesCollectionUrl</param-name>
      <param-value>http://localhost:8080/chassis-generic-service-exist/atom/edit/datafiles</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewDataFileServlet</servlet-name>
    <url-pattern>/newdatafile</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>revise data file servlet</description>
    <display-name>UploadDataFileRevisionServlet</display-name>
    <servlet-name>UploadDataFileRevisionServlet</servlet-name>
    <servlet-class>org.cggh.chassis.generic.service.data.UploadDataFileRevisionServlet</servlet-class>
    <init-param>
      <description>the URL of the Atom collection where the uploaded file content (i.e., media) will be POSTed</description>
      <param-name>mediaCollectionUrl</param-name>
      <param-value>http://localhost:8080/chassis-generic-service-exist/atom/edit/media</param-value>
    </init-param>
    <init-param>
      <description>the URL of the data files collection</description>
      <param-name>dataFilesCollectionUrl</param-name>
      <param-value>http://localhost:8080/chassis-generic-service-exist/atom/edit/datafiles</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadDataFileRevisionServlet</servlet-name>
    <url-pattern>/revisedatafile</url-pattern>
  </servlet-mapping>


  <!-- legacy -->
  
  <servlet>
    <description>upload servlet using Atom service for file persistence</description>
    <display-name>DataFileUploadServlet</display-name>
    <servlet-name>DataFileUploadServlet</servlet-name>
    <servlet-class>legacy.org.cggh.chassis.generic.service.upload.DataFileUploadServlet</servlet-class>
    <init-param>
      <description>the URL of the Atom collection where file content will be POSTed</description>
      <param-name>atomCollectionUrl</param-name>
      <param-value>http://localhost:8080/chassis-generic-service-exist/atom/edit/datafiles</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>DataFileUploadServlet</servlet-name>
    <url-pattern>/datafileupload</url-pattern>
  </servlet-mapping>

</web-app>