<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mvn install:install-file -DgroupId=org.exist -DartifactId=exist-versioning -Dversion=1.4.0 -Dclassifier=orbeon_20100330 -Dpackaging=jar -Dfile=/var/lib/hudson/jobs/manta/workspace/manta/war/WEB-INF/lib/exist-versioning-1_4_0_orbeon_20100330.jar
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>