
/*
 * -----------------------------------------------------------------------------
 * html element styles
 * -----------------------------------------------------------------------------
 */

body {
}

input, textarea {
	border: 1px solid #aaa;
}

p {
    margin-top: .5em;
}

ul {
    margin: 0;
    padding: 0 0 0 2em;
}

h3 {
    border-bottom: 2px solid #aaa;
}



/*
 * -----------------------------------------------------------------------------
 * fixed page elements
 * -----------------------------------------------------------------------------
 */
 
#holdall {
	margin: 0.5em;
}

#chassisClientPane {
}





/*
 * -----------------------------------------------------------------------------
 * GWT style overrides
 * -----------------------------------------------------------------------------
 */

.gwt-Anchor {
	cursor: pointer;
	text-decoration: underline;
}





/*
 * -----------------------------------------------------------------------------
 * utility styles
 * -----------------------------------------------------------------------------
 */

.invisible {
	display: none;
}





/*
 * -----------------------------------------------------------------------------
 * common styles across widgets
 * -----------------------------------------------------------------------------
 */

.chassis-question {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #eee;
}

.chassis-question input {
	margin-left: 0.3em;
}

.chassis-answer {
	font-weight: bold;
}

.chassis-actions {
	position: absolute;
	top: 8em;
	right: 0.5em;
	left: auto;
	bottom: auto;
	width: 20em;
	padding: 0.3em;
}

.chassis-action {
	display: block;
	text-decoration: underline;
	cursor: pointer;
}

.chassis-mainWithActions {
	margin-right: 22em;
}

.chassis-actions h3 {
	margin-top: 0.2em;
}


.chassis-resultsTable {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.chassis-resultsTable td {
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.chassis-resultsTable-firstCol {
	font-weight: bold;
}

.chassis-resultsTable-firstRow {
	font-size: 80%;
	text-align: left;
	font-weight: bold;
	background-color: #eee;	
}

.chassis-resultsTable-even {
}

.chassis-resultsTable-odd {
}

.chassis-resultsTable-cell {
	padding: .3em;
}

.chassis-question-title {
    font-size: 130%;
}

.chassis-value-summary {
    display: block;
    font-style: italic;
}

.chassis-value-owners {
    display: inline;
}

.chassis-value-modules {
    display: inline;
}

/*
 * -----------------------------------------------------------------------------
 * styles for chassis client
 * -----------------------------------------------------------------------------
 */

.chassis-client {
/*	border: 2px solid black; */
}





/*
 * -----------------------------------------------------------------------------
 * styles for user details widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-userDetailsWidget {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	left: auto;
	bottom: auto;
	text-align: right;
}

.chassis-userDetailsWidget .userDetails {
}

.chassis-userDetailsWidget .userName {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget .currentRole {
	font-weight: bold;
	margin-left: .2em;
	margin-right: .2em;
}

.chassis-userDetailsWidget .roleSwitcher {
	margin-left: .2em;
}

.chassis-userDetailsWidget .switchRolePanel {
	display: inline;
}




/*
 * -----------------------------------------------------------------------------
 * styles for administrator home widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-administratorHome-resourceCollections {
	border-top: 2px solid black;
}




/*
 * -----------------------------------------------------------------------------
 * styles for create study widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-createStudy-titleInput {
	width: 30em;
}

.chassis-createStudy-actions {
	margin-top: 1em;
}

.chassis-createStudy textarea {
	width: 60em;
	height: 15em;
}

.chassis-createStudy-modules input {
	border: none;
}





/*
 * -----------------------------------------------------------------------------
 * styles for edit study widget
 * -----------------------------------------------------------------------------
 */
 
.chassis-editStudy-titleInput {
	width: 30em;
}

.chassis-editStudy-actions {
	margin-top: 1em;
}

.chassis-editStudy textarea {
	width: 60em;
	height: 15em;
}

.chassis-editStudy-modules input {
	border: none;
}




/*
 * -----------------------------------------------------------------------------
 * styles for view study widget
 * -----------------------------------------------------------------------------
 */
 





/*
 * -----------------------------------------------------------------------------
 * styles for developer pane
 * -----------------------------------------------------------------------------
 */
 
#footer {
	margin-top: 2em;
	border-top: 2px solid black;
}

#developerToolsPane {
	margin-top: 0.5em;
}

.log-panel {
	width: 96%;
}

.log-scroll-panel {
	border: 1px solid #ccc;
	width: 100%;
}


