@CHARSET "UTF-8";

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

h3, h4 {
	margin-bottom: 2px;
}

#holdall {
	margin: 10px;
}

.xquestion {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 3px;
	margin: 3px 0 3px 0;
	background-color: #eee;
}

.xquestionnaire {
	border: 2px solid #ccc;
	border-left: 10px solid #ccc;
	border-right: none;
	padding: 5px 0px 5px 10px;
	margin: 5px 0px 5px 0px;
}

.xquestionnaire .xquestionnaire {
}

.xquestionnaire-transparent {
	border: none;
	padding: 0;
	margin: 0;
}

.xinput-string {
	display: inline;
	padding: 0px;
}

.xinput-string input, .xinput-date input {
	border: 1px solid #aaa;
	margin-left: 5px;
}

.xselect1-minimal select {
	margin-left: 5px;
}

.answer {
	font-weight: bold;
	margin-left: 5px;
}

.loading {
	margin-left: 5px;
}

.xquestionnaire .repeatableButtonPanel {
	text-align: left;
}

.xquestion .repeatableButtonPanel {
	display: inline;
	margin-left: 5px;
	text-align: right;
}